# Python Language Basics

### Language Semantics

# Indentation, not braces

파이썬의 중요한 특징 중 하나 ~ 객체모델의 일관성

In [1]:
a = 5; b = 6; c = 7

In [2]:
c

7

##### Everything is an object

##### Comments

# Variables and argument passing

파이썬에서 변수(혹은 이름)에 값을 대입하면 연산자 오른쪽에 있느 객체에 대한 참조를 생성하게 된다

In [3]:
a = [1, 2, 3]

# 리스트 할당

In [4]:
b = a

바인딩 : 변수에 값을 할당하는 것 = 이름을 객체에 연결하는 것

In [5]:
a.append(4) # a라는 object에 4를 추가
b

[1, 2, 3, 4]

# Dynamic references, strong types

###### Dynamic references : 동적 참조

In [6]:
a = 5
type(a)

int

In [7]:
a = 'foo'
type(a)

str

In [8]:
'5' + 5

# 문자열 데이터랑 숫자 데이터의 합은 계산 불가능

TypeError: can only concatenate str (not "int") to str

In [ ]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))
print('a is {0}, b is {1}'.format(a, b))
# {0} 대신에 float가 들어가고 {1} 대신에 int가 들어간다
a / b

In [ ]:
a = 5
isinstance(a, int)

# isinstance() : 어떤 객체가 무슨 자료형인지 검사가능
#                튜플을 넘겨서 객체의 자료형이 주어진 튜플 중 하나인지 검사가능

In [ ]:
a = 5; b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

# isinstance : True, False나타내는 것

# Attributes and methods

Objects in Python typically have both attributes  (other Python objects stored "inside" the object) and methods (functions associated with an object that can have access to the object's internal data.)

Both of them are accessed via the syntax obj.attribute_name:

In [9]:
a = 'foo'

In [10]:
a.<Press Tab>

SyntaxError: invalid syntax (3084391244.py, line 1)

In [11]:
a.upper()

'FOO'

Attributes and methods can also be accessed by name via the getattr function:

getattr() : 이름으로 접근하는 것

Reflection : 이름으로 객체에 접근하는 것

In [12]:
getattr(a, 'split')

# getatter : Attributes and methods can also be accessed gettattr get attributed

# Duck typing

Duck typing : 객체가 어떤 메서드나 행동을 지원하는지만 알고 싶은 경우 사용

In [13]:
def isiterable(obj):
    try:
        iter(obj) # isiterable을 주고 iter(obj)를 실행
        return True
    except TypeError: # not iterable
        return False

이터레이터 구현 : 순회가 가능한 객체인지 검증 가능

이터레이터 : 반복자(iterator), 객체 지향적 프로그래밍에서 배열이나 그와 유사한 자료 구조의  내부의 요소를 순회하는 객체

iter() : 문자열뿐만 아니라 여러 개의 값을 저장하는 대부분의 파이썬 자료형에 대해 True를 반환

In [14]:
isiterable('a string')

True

In [15]:
isiterable(5)

False

If not isinstance(x, list) and isiterable(x): x = list(x)

# Imports

In [16]:
# some_module.py
PI = 3.14159

def f(x):
    return x + 2

def g(a, b):
    return a + b

In [17]:
import some_module

result = some_module.f(5)
result

7

In [18]:
pi = some_module.PI
pi

3.14159

Or equivalently :

In [28]:
from some_module import f, g, PI
result = g(5, PI)
result

8.14159

 By using the as keyword you can give imports different variable names:

In [29]:
import some_module as sm
from some_module import PI as pi, g as gf

r1 = sm.f(pi)
r2 = gf(6, pi)

# as 예약어를 사용하면 모듈을 다른 이름으로 임포트 가능

In [30]:
r1

5.14159

In [31]:
r2

9.14159

# Binary operators and comparisons
 Most of the binary math operations and comparisons are as you might expect:

In [32]:
5 - 7
12 + 21.5
5 <= 2

False

In [33]:
5 - 7

-2

In [34]:
a = [1, 2, 3]
b = a
c = list(a)
a is b
a is not c

True

is : 두 참조 변수가 같은 객체를 가리키고 있는지 검사

is not : 두 객체가 같지 않은지 검사

변수가 None인지 검사하기 위해 흔히 사용

In [35]:
a = [1, 2, 3]
b = a
c = list(a)

In [36]:
a is b

True

In [37]:
a is not c

True

In [38]:
a == c

True

In [39]:
a = None
a is None

True

# Mutable and immutable objects

Most objects in Python, such as lists, dicts, NumPy arrays, and most 
user-defined types (classes), are mutable

객체나 값의 내용을 바꿀 수 있다는 뜻

In [40]:
a_list = ['foo', 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [41]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = 'four'

TypeError: 'tuple' object does not support item assignment

숫자형 : int, float

int : 임의의 숫자를 저장

In [42]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

float : 부동소수점수 나타냄

그냥 소수점 나타낸다는 뜻

In [43]:
fval = 7.243
fval2 = 6.78e-5

In [44]:
3 / 2

1.5

In [45]:
type(3/2)

float

In [46]:
3 // 2

1

In [47]:
type(3//2)

int

# Strings

In [48]:
a = 'one way of writing a string'
b = "another way"

In [49]:
c = """
This is a longer string that
spans multiple lines
"""

""" 뒤에 오는 개행 문자도 c에 포함된다

In [50]:
c

'\nThis is a longer string that\nspans multiple lines\n'

개행 문자의 수는 count 메서드를 이용해서 확인할 수 있다.

In [51]:
c.count('\n')

3

Python strings are immutable; you cannnot modify a string

In [52]:
a = 'this is a string'
a[10] ='f'

TypeError: 'str' object does not support item assignment

In [53]:
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [54]:
a

'this is a string'

str()을 활용해서 문자열로 변환이 가능하다.

In [55]:
a = 5.6
s = str(a)
print(s)

5.6

Strings are a sequence of Unicode characters and therefore can be treated like other sequences, such as lists and tuples:

In [56]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

슬라이싱 : s[:3] = 시퀀스 자료구조에 구현되어 있다.

In [57]:
s[:3]

'pyt'

역슬래시(\) : 이스케이프 문자, 특수한 목적의 문자를 나타내기 위해 사용

In [58]:
print('12\n34')

12
34

In [19]:
s = '12\\34'
print(s)

12\34

문자열을 더하면 두 문자열을 이어붙인 새로운 문자열이 생성된다.

In [60]:
a = 'this is the first half'
b = 'and this is the second half'
a + b

'this is the first halfand this is the second half'

문자열 객체는 포맷에 따라 문자열을 대체하여 새로운 문자열을 반환하는 format 메서드를 가지고 있다.

In [20]:
template = '{0: .2f} {1:s} are worth US${2:d}'
template

'{0: .2f} {1:s} are worth US${2:d}'

* {0:2f}는 첫 번째 인자를 소수점 아래 2자리까지만 표시하는 부동소수점 형태로 출력하라는 의미다

* {1:s}는 두 번째 인자가 문자열이라는 의미다.

* {2:d}는 세 번째 인자가 정수라는 의미다.

In [21]:
template.format(4.5560, 'Argentine Pesos', 1)

' 4.56 Argentine Pesos are worth US$1'

In [63]:
template.format(1263.23, 'won', 1)

' 1263.23 won are worth US$1'

# Booleans

불리언 값은 True, False

and와 or 예약어로 조합 가능

In [64]:
True and True

True

In [65]:
False or True

True

# Type casting (형변환)

str, bool, int, float 자료형은 형변환을 위한 함수로 쓰인다.

In [66]:
s = '3.14159'
fval = float(s)
type(fval)

float

In [67]:
int(fval)

3

In [68]:
bool(fval)

True

In [69]:
bool(0)

False

# None

어떤 함수에서 명시적으로 값을 반환하지 않으면 묵시적으로 None을 반환한다.

In [70]:
a = None
a is None

True

In [71]:
b = 5
b is not None

True

None은 함수 인자의 기본값으로 흔히 사용됨

In [25]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b
    
    if c is not None:
        result = result * c
    
    return result

기술적인 측면에서 None은 예약어가 아니라 NoneType의 유일한 인스턴스

In [24]:
type(None)

NoneType

In [73]:
add_and_maybe_multiply(5, 3)

8

In [74]:
add_and_maybe_multiply(5, 3, 10)

80

# 날짜와 시간

datetime 모듈은  datetime, date 그리고 time형을 지원한다.
datetime형은 date와 time정보를 함께 저장하며 주로 사용되는 자료형이다.

In [27]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [28]:
dt.day

29

In [29]:
dt.minute

30

In [30]:
dt.date()

datetime.date(2011, 10, 29)

In [31]:
dt.time()

datetime.time(20, 30, 21)

strftime메서드는 문자열을 해석하여 datetime객체로 만들어줌

In [32]:
dt.strftime('%m/%d/%Y %H:%M')

'10/29/2011 20:30'

In [33]:
type(dt.strftime('%m/%d/%Y %H:%M'))

str

In [34]:
dt.strftime('%Y/%m/%d %H:%M') # strftime : string from time

'2011/10/29 20:30'

In [35]:
datetime.strptime('20091031', '%Y%m%d')

datetime.datetime(2009, 10, 31, 0, 0)

In [36]:
datetime.strptime('20220310', '%Y%m%d') # 오늘 날짜 해보기!

datetime.datetime(2022, 3, 10, 0, 0)

In [37]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [40]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

datetime.datetime은 변경 불가능하며, 이런 메서드들은 항상 새로운 객체를 반환한다.

두 datetime 객체의 차는 datetime.timedelta 객체를 반환한다.

In [39]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [89]:
type(delta)

datetime.timedelta

timedelta 객체를 datetime 객체에 더하면 그만큼 시간이 미뤄진 datetime 객체를 얻을 수 있다.

In [90]:
dt
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

datetime.datetime은 변경 불가능하며, 이런 메서드들은 항상 새로운 객체를 반환한다.

# Control Flow

if, elif, else

In [91]:
x = -5

if x < 0:
    print('It is negative')

It is negative

if 문은 부가적으로 하나 이상의 elif 블록과 다른 모든 조건이 False인 경우에 수행될 else 블록을 가질 수 있다.

In [41]:
x = -5

if x < 0:
    print("It is negaitve")
elif x == 0:
    print('Equal to zero')
elif 0 < x < 5:
    print('Positive but smaller than 5')
else:
    print('Positive and larger than or equal to 5')

It is negaitve

만일 이 중 하나의 조건이라도 True면 이후의 elif나 else블록은 검사하지 않는다.

and나 or과 함께 사용하면 이 조건을 왼쪽에서 오른쪽 순서로 검사하며 왼쪽 조건이 True인 경우 오른쪽 조건은 검사하지 않는다.

In [93]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print('Made it') #or로 인해 둘 중에 하나가 True일 때 실행됨

Made it

In [94]:
4 > 3 > 2 > 1

True

In [95]:
3>5 or 2>1

True

In [96]:
3>5>2>1

False

# For loops

for 문은 리스트나 튜플 같은 컬렉션이나 이터레이터를 순회한다.

In [42]:
for value in collection:
    # value를 이용하는 코드 작성

SyntaxError: unexpected EOF while parsing (3843710789.py, line 2)

for문은 continue 예약어를 사용해서 남은 블록을 건너뛰고 다음 순회로 넘어갈 수 있다.

In [98]:
sequence = [1, 2, None, 4, None, 5]
total = 0

for value in sequence:
    if value is None:
        continue
    total += value

In [45]:
total

12

In [46]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [47]:
total_until_5

13

break 예약어는 가장 안쪽에 있는 for 문만 빠져나간다. 

바깥쪽에 있는 for문은 계속 실행된다.

In [48]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [51]:
for a, b, c in iterator:
    # 필요한 코드 작성

SyntaxError: unexpected EOF while parsing (1758865922.py, line 2)

컬렉션의 원소나 이터레이터가 순차적인 자료(ex:튜플이나 리스트)라면 for문 안에서 여러 개의 변수로 꺼낼 수 있다.

In [52]:
for a, b, c in [[1,2,3], [4,5,6], [7,8,9]]:
    print(a,b,c)

1 2 3
4 5 6
7 8 9

# while 문

While 문은 조건을 명시하여 해당 조건이 False가 되거나 break 문을 사용해서 명시적으로 반복을 끝낼 때 까지 블록 내의 코드를 수행한다.

In [104]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

In [105]:
total

504

In [106]:
x

4

# Pass

pass는 아무것도 하지 않음을 나타낸다.

이는 블록 내에서 어떤 작업도 실행하지 않을 때 사용한다.

pass를 사용하는 이유는 파이썬이 공백 문자를 블록을 구분하는데 사용하기 때문

In [107]:
x = -1

if x < 0:
    print('nagative!')
elif x == 0:
    pass
else:
    print('positive!')

nagative!

# range

range()는 연속된 정수를 넘겨주는 이터레이터를 반환한다.

In [108]:
range(10)

range(0, 10)

In [109]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
list(range(0, 20, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [111]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [112]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    val = seq[i]
    print(val)

1
2
3
4

In [113]:
val

4

In [114]:
sum = 0
for i in range(100000):
    if i % 3 == 0 or i % 5 == 0:
        sum += i

In [115]:
6 % 3

0

# Ternary expressions = 삼항표현식

삼항 표현식은 if-else 블록처럼 조건이 참인 경우의 표현식만 실행된다. 따라서 삼항 표현식에서 if와 else에 비용이 많이 드는 계산이 올 수 있으며 조건이 참인 파이썬 표현만 실행된다.

In [ ]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

In [117]:
x = 5

a = 100 if x>=0 else -100
a

100

In [118]:
if x >= 0:
    a = 100
else:
    a = -100