### Built-in Data Structures, Functions,

#### Data Structures and Sequences

##### Tuple

A tuple is a fixed-length, immutable sequence of Python objects. The easiest way to create one is with a comma-separated sequence of values:

In [52]:
tup = 4, 5, 6
tup

(4, 5, 6)

괄호를 사용해서 값을 묶어줌으로써 중첩된 튜플으 정의할 수 있다.

In [53]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

모든 순차 자료형이나 이터레이터는 tuple 메서드를 호출해 튜플로 변환가능!

In [54]:
tuple([4, 0, 2])

(4, 0, 2)

튜플의 각 원소는 대괄호 [ ]를 이용해서 다른 순차 자료형 처럼 접근가능

순차 자료형의 색인은 0부터 시작한다

In [55]:
tup[0]

4

한 번 생성되면 각 슬롯에 저장된 객체를 변경하는 것은 불가능

In [56]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

튜플 내에 저장된 객체는 그 위치에서 바로 변경이 가능하다.

In [57]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [58]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [59]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

### Unpacking tuples

튜플과 같은 표현의 변수에 튜플을 대입하면 파이썬은 등호(=) 오른쪽에 있는 변수에서 값을 분리한다.

In [60]:
tup = (4, 5, 6)
a, b, c = tup
b

5

중첩된 튜플을 포함하는 순차 자료형에서도 값을 분리해 낼 수 있다.

In [61]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [62]:
tmp = a
a = b
b = tmp

In [63]:
a, b = 1, 2
a

1

In [64]:
b

2

In [65]:
b, a = a, b
a

2

In [66]:
b

1

A common use of variable unpacking is iterating over sequences of tuples or lists:

In [67]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'. format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [68]:
for a in seq:
    print(a)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

*rest : 함수의 시그니처에서 길이를 알 수 없는 긴 인자를 담기 위한 방법

In [69]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b

(1, 2)

In [70]:
rest

[3, 4, 5]

rest는 필요 없는 값을 무시하기 위해 사용되기도 한다.

불필요한 변수라는 것을 나타내기 위해 "_"를 사용하는 관습도 있다.

In [71]:
a, b, *_ = values

### Tuple methods

count() : 주어진 값과 같은 값이 몇 개 있는지 반환

In [72]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List

튜플과는 대조적으로 리스트는 크기나 내용의 변경이 가능

리스트 ~ 대괄호 [ ], list( )를 사용해서 생성가능

In [73]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)

In [74]:
b_list

['foo', 'bar', 'baz']

In [75]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

리스트와 튜플은 의미적으로 비슷

list( ) : 이터레이터, 제너레이터표현 ~ 실제값을 모두 담기 위한 용도

In [76]:
gen = range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Adding and removing elements

append( ) 메서드를 사용해서 리스트의 끝의 새로운 값을 추가 가능

In [77]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

insert( ) 메서트를 사용해서 리스트의 특정 위치에 값을 추가할 수 있다.

In [78]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

값을 추가하려는 위치 : 0부터 리스트 길이까지의 값

CAUTION : insert는 append에 비해 연산비용이 많이든다

pop( ) 메서드는 특정 위치의 값을 반환하고 해당 값을 리스트에서 삭제한다

In [79]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

remove( ) 메서드를 이용해서 원소를 삭제할 수 있다.

삭제는 리스트에서 제일 앞에 위치한 값부터 이루어진다.

In [80]:
b_list.append('foo')
b_list
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [81]:
'dwarf' in b_list

True

In [82]:
'dwarf' not in b_list

False

### Concatenating and combining lists

In [83]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

extend 메서드를 사용해서 여러 개의 값을 추가 가능

In [84]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

everything = [] for chunk in list_of_lists : everything.extend(chunk)

everything = [] for chunk in list_of_lists : everything + chunk

### Sorting

sort( )를 이용해서 새로운 리스트를 생성하지 않고 있는 그대로 리스트를 정렬할 수 있다.

In [85]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

문자열의 길이 순으로 정렬 가능

In [86]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

### Binary search and maintaining a sorted list (이진 탐색과 정렬된 리스트 유지하기)

bisect 메서드는 값이 추가될 때 리스트가 정렬된 상태를 유지할 수 있는 위치를 반환

bisect.insort( )는 실제로 정렬된 상태를 유지한 채 값을 추가

In [87]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)
bisect.bisect(c, 5)
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

### Slicing

리스트와 같은 자료형(배열, 튜플, ndarray)은 색인 연산자 [] 안에 start:stop을 지정해서 원하는 크기만큼 잘라낼 수 있다.

In [88]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [89]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

색인의 시작(start) 위치에 있는 값은 포함되지만 끝(stop) 위치에 있는 값은 포함되지 않는다.

In [90]:
seq[:5]
seq[3:]

[6, 3, 5, 6, 0, 1]

음수 색인은 순차 자료형의 끝에서 부터 위치를 나타낸다.

In [91]:
seq[-4:]
seq[-6:-2]

[6, 3, 5, 6]

In [92]:
seq[::2]

[7, 3, 3, 6, 1]

In [93]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Built-in Sequence Functions

### enumerate

현재 아이템의 색인을 함께 처리하고자 할 때

i = 0
for value in collection:
    # value를 사용하는 코드 작성
    i += 1

### do something with value

i += 1

for i, value in enumerate(collection):

enumerate() : (i, value) 튜플을 반환

### do something with value

색인을 통해 데이터에 접근할 때 enumerate를 사용하는 유용한 패턴은 순차 자료형에서의 값과 그 위치를 dict에 넘겨주는 것이다.

In [94]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

### sorted

In [95]:
sorted([7, 1, 2, 6, 0, 3, 2])
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

### zip

zip 함수는 여러 개의 리스트나 튜플 또는 다른 순차 자료형을 서로 짝지어서 튜플의 리스트를 생성

In [96]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

여러 개의 순차 자료형을 받을 수 있으며 반환되는 리스트의 크기는 넘겨받은 순차 자료형 중 가장 짧은 크기로 정해진다.

In [97]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [98]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

리스트의 로우를 리스트의 컬럼으로 변환도 가능

------------------------------------------------------------------------

### 이런게 시험에 나온대요

In [99]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
           ('Curt', 'Schilling')]
first_names, last_names = zip(*pitchers)
first_names
last_names

('Ryan', 'Clemens', 'Schilling')

In [100]:
first_names = []
last_names = []

for i in pitchers:
    first_names.append(i[0])
    last_names.append(i[1])

In [101]:
for i, j in pitchers:
    first_names.append(i)
    last_names.append(j)

In [102]:
first_names

['Nolan', 'Roger', 'Curt', 'Nolan', 'Roger', 'Curt']

In [103]:
tuple(first_names)

('Nolan', 'Roger', 'Curt', 'Nolan', 'Roger', 'Curt')

In [104]:
last_names

['Ryan', 'Clemens', 'Schilling', 'Ryan', 'Clemens', 'Schilling']

----------------------------------------------------------------------------

### reversed

In [105]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### dict

In [106]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [107]:
d1[7] = 'an integer'
d1
d1['b']

[1, 2, 3, 4]

In [108]:
'b' in d1

True

In [109]:
d1[5] = 'some value'
d1
d1['dummy'] = 'another value'
d1
del d1[5]
d1
ret = d1.pop('dummy')
ret
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [110]:
list(d1.keys())
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [111]:
d1.update({'b' : 'foo', 'c' : 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

##### Creating dicts from sequences

mapping = {} for key, value in zip(key_list, value_list): mapping[key] = value

In [112]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

##### Default values

if key in some_dict value = some_dict[key] else: value = default_value

value = some_dict.get(key, default_value)

In [113]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [114]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [115]:
if 'a' in d1:
    value = d1['a']
else:
    value = 'default'
    
value

'some value'

In [116]:
if 'k' in d1:
    value = d1['b']
else:
    value = 'default'
    
value

'default'

In [117]:
value = d1.get('a', 'default')
value

'some value'

# ------------------------------------------------

### 어렵다 어려워

In [118]:
by_letter = {}
by_letter.setdefault('a', [1,2,3])
by_letter

{'a': [1, 2, 3]}

In [119]:
by_letter.setdefault('a',[1,2,7])
by_letter

{'a': [1, 2, 3]}

In [120]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word] # by_letter['a'] = [word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [121]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)

In [122]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [123]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
    
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

--------------------------------------------------------------------------

for word in words: letter = word[0] by_letter.setdefault(letter, []).append(word)

from collections import defaultdict by_letter = defaultdict(list) for word in words: by_letter[word[0]].append(word)

##### Valid dict key types

In [124]:
hash('string')
hash((1, 2, (2, 3)))
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [125]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

### set

In [126]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [127]:
a = 5

In [128]:
a += 3

In [129]:
a

8

In [130]:
a = {1, 2, 3, 4, 5}
b = {3, 4 ,5 ,6, 7, 8}

In [131]:
a.union(b)
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [132]:
a.intersection(b)
a & b

{3, 4, 5}

In [133]:
c = a.copy()
c |= b
c
d = a.copy()
d &= b
d

{3, 4, 5}

In [134]:
c = a.copy()

In [135]:
my_data = [1, 2, 3 ,4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [136]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

True

In [137]:
{1, 2, 3} == {3, 2, 1}

True

### List, Set, and Dict Comprehensions

result = [] for val in collection: if

-----------------------------------------------------------

In [138]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [139]:
result = []

for x in strings:
    if len(x) > 2:
        a = x.upper()
        result.append(a)
        
result

['BAT', 'CAR', 'DOVE', 'PYTHON']

---------------------------------------------------------------

dict_comp = {

set_comp = {

In [140]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [141]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [142]:
map(len, strings)

In [143]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [144]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [145]:
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 1]
    names_of_interest.extend(enough_es)
names_of_interest

['Michael', 'Steven', 'Javier']

In [146]:
result = [name for names in all_data for name in names
          if name.count('e') >= 1]
result

['Michael', 'Steven', 'Javier']

names

In [147]:
some_tuples  = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

for tup in some_tuples: for x in tup: flattened.append(x)

In [148]:
[tup for tup in some_tuples]

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

# ----------------------------------

### Quiz!

#### List Comprehension을 전혀 사용하지 않고 아래와 똑같은 동작을 하는 코드를 작성하시오.

In [149]:
# 1.
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [150]:
loc_mapping = {}

for index, val in enumerate(strings):
    loc_mapping[val] = index
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [151]:
# 2.
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

result = [name for names in all_data for name in names
          if name.count('e') >= 2]

result

['Steven']

In [152]:
result = []

for names in all_data:
    for name in names:
        if name.count('e') >= 2:
            result.append(name)

In [153]:
result

['Steven']

In [154]:
# 3. 
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]

In [155]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [156]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# ------------------------------------

In [157]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Functions

### Namespaces, Scope, and Local Funtions

In [158]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

### Returning Multiple values

def f(): a = 5, b = 6, c = 7, return a, b, c

a, b, c = f()

return_value = f()

def f(): a = 5, b = 6, c = 7 return{'a':a,'b':b,'c':c}

### Function Are Objects

In [159]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'gergia', 'FlOrIda',
          'south   carolian##', 'West virginia?']

In [160]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [161]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Gergia',
 'Florida',
 'South   Carolian',
 'West Virginia']

In [162]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [163]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Gergia',
 'Florida',
 'South   Carolian',
 'West Virginia']

In [164]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
gergia
FlOrIda
south   carolian
West virginia

In [165]:
map(remove_punctuation, states)

Quiz 1

짝수는 2배를 하고, 홀수는 5배를 하는 함수를 만들어보시오.

In [166]:
def multiply_func(values):
    result = []
    for value in values:
        if value % 2 == 0 :
            value = value * 2
        else:
            value = value * 5
        result.append(value)
    return(result)

In [167]:
values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [168]:
multiply_func(values)

[5, 4, 15, 8, 25, 12, 35, 16, 45, 20]

Quiz 2

공백을 제거하고, 모든 텍스트를 대문자로 바꾸는 함수를 만들어 보시오.
hint: upper method를 사용

In [169]:
states = ['    Alabama ', 'Geogia!', 'Georgia', 'georgia', 'FlOrIda',
          'south.   carolina##', 'West virginia?']

clean_ops = [str.strip, str.upper]

def clean_strings(states, ops):
    result=[]
    for value in states:
        for function in ops:
            new_value = function(value)
        result.append(value)
    return(result)

In [170]:
clean_strings(states, ops)

NameError: name 'ops' is not defined

### Anonymous (Lambda) Functions

In [171]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [172]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Currying: Partial Argument Application

In [173]:
def add_numbers(x, y):
    return x + y

In [174]:
add_five = lambda y: add_numbers(5, y)

In [175]:
from functools import partial
add_five = partial(add_numbers, 5)

In [176]:
add_five(10)

15

### Generators

In [177]:
some_dict = {'a' : 1, 'b' : 2, 'c' : 3}
for key in some_dict:
    print(key)

a
b
c

In [178]:
dict_iterator = iter(some_dict)
dict_iterator

In [179]:
list(dict_iterator)

['a', 'b', 'c']

In [180]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [181]:
gen = squares()
gen

In [182]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [183]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        result.append(i ** 2)
    result(result)

In [189]:
squares

In [186]:
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

In [187]:
sum(x ** 2 for x in range(100))

328350

In [188]:
dict((i, i ** 2) for i in range(100))

{0: 0,
 1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225,
 16: 256,
 17: 289,
 18: 324,
 19: 361,
 20: 400,
 21: 441,
 22: 484,
 23: 529,
 24: 576,
 25: 625,
 26: 676,
 27: 729,
 28: 784,
 29: 841,
 30: 900,
 31: 961,
 32: 1024,
 33: 1089,
 34: 1156,
 35: 1225,
 36: 1296,
 37: 1369,
 38: 1444,
 39: 1521,
 40: 1600,
 41: 1681,
 42: 1764,
 43: 1849,
 44: 1936,
 45: 2025,
 46: 2116,
 47: 2209,
 48: 2304,
 49: 2401,
 50: 2500,
 51: 2601,
 52: 2704,
 53: 2809,
 54: 2916,
 55: 3025,
 56: 3136,
 57: 3249,
 58: 3364,
 59: 3481,
 60: 3600,
 61: 3721,
 62: 3844,
 63: 3969,
 64: 4096,
 65: 4225,
 66: 4356,
 67: 4489,
 68: 4624,
 69: 4761,
 70: 4900,
 71: 5041,
 72: 5184,
 73: 5329,
 74: 5476,
 75: 5625,
 76: 5776,
 77: 5929,
 78: 6084,
 79: 6241,
 80: 6400,
 81: 6561,
 82: 6724,
 83: 6889,
 84: 7056,
 85: 7225,
 86: 7396,
 87: 7569,
 88: 7744,
 89: 7921,
 90: 8100,
 91: 8281,
 92: 8464,
 93: 8649,
 94: 8836,
 95: 9025,
 96: 9216,
 97: 9409,
 98: 9604,
 99: 9801}

### itertools module

In [50]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [51]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(sorted(names), first_letter):
    print(letter, list(names))

A ['Adam', 'Alan', 'Albert']
S ['Steven']
W ['Wes', 'Will']

-------------------------------------------------------------

## 교수님 예제!!

In [146]:
d = [('Europe', 'Manchester'),
     ('America', 'NewYork'),
     ('Asia', 'Seoul'),
     ('Asia', 'Tokyo'),
     ('America', 'Chicago'),
     ('America', 'Seattle'),
     ('Europe', 'London'),
     ('Asia', 'Beijing'),
     ('Europe', 'Paris'),
    ]

In [147]:
for x in d:
    print(x[0])

Europe
America
Asia
Asia
America
America
Europe
Asia
Europe

In [148]:
category = {}
for k, g in itertools.groupby(sorted(d), lambda x:x[0]):
    listg = [x[1] for x in list(g)]
    category[k] = listg
    
category

{'America': ['Chicago', 'NewYork', 'Seattle'],
 'Asia': ['Beijing', 'Seoul', 'Tokyo'],
 'Europe': ['London', 'Manchester', 'Paris']}

### Errors and Exception Handling

In [190]:
float('1.2345')
float('something')

ValueError: could not convert string to float: 'something'

In [191]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [192]:
attempt_float('1.2345')
attempt_float('something')

'something'

In [193]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [234]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [235]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [236]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

### Files and the Operating System

In [237]:
%pushd book-materials

[Errno 2] No such file or directory: 'book-materials'
/Users/otaehun/Desktop/2022_1/major/python

['~/Desktop/2022_1/major/python', '~/Desktop/2022_1/major/python']

In [238]:
path = '/Users/otaehun/Desktop/2022_1/major/python/segismundo.txt'
f = open(path)

for line in f:pass

In [239]:
lines = [x.rstrip() for x in open(path)]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [240]:
f.close

In [241]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

In [242]:
f = open(path)
f.read(10)
f2 = open(path, 'rb')
f2.read(10)

b'Sue\xc3\xb1a el '

In [243]:
f.tell()
f2.tell()

10

In [244]:
import sys
sys.getdefaultencoding()

'utf-8'

In [245]:
f.seek(3)
f.read(1)

'ñ'

In [246]:
f.close()
f2.close()

In [247]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [248]:
import os
os.remove('tmp.txt')

### Bytes and Unicode with Files

In [249]:
with open(path) as f:
    chars = f.read(10)
chars

'Sueña el r'

In [250]:
with open(path, 'rb') as f:
    data = f.read(10)
data

b'Sue\xc3\xb1a el '

In [255]:
data.decode("utf8")
data[:4].decode("utf8")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [233]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink_write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

FileExistsError: [Errno 17] File exists: 'sink.txt'

In [256]:
os.remove(sink_path)

In [258]:
f = open(path)
f.read(5)
f.seek(4)
f.read(1)
f.close()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

In [259]:
%popd

/Users/otaehun/Desktop/2022_1/major/python
popd -> ~/Desktop/2022_1/major/python

# Conclusion